<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome - DevOps Capstone Project</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="margin-top:50px;margin-left:20px;">
        <h1>Welcome - DevOps Capstone Project</h1>
        <p>
            This is the home page for the front end service created as part of the Capstone project at the completion of Deloitte DevOps boot camp Mar 15, 2021 - Mar 18, 2021 batch.
            The front end service gets the weather forecast from the back end service - WeatherMicroService. The back end microservice returns weather data for next 5 days including date,
            temperature in celsius, fahrenheit and summary.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
    </div>
    <div class="row"> {{{body}}}</div>
    <div style="margin-left: 20px;">
        <h5>Hope you enjoy the weather</h5>

        <!--<form action="/weatherforecast" method="post">
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <input class="form-control" id="txtTitle" name="title" type="text" style="width:200px" />
            </div>
            <div class="form-group">
                <label for="txtDesc">Description</label>
                <input class="form-control" id="txtDesc" name="desc" type="text" style="width:200px" />
            </div>
            <br /> <br />
            <button type="submit" class="btn btn-primary" style="margin-top: auto;">Save Event</button>
        </form>-->
    </div>

    <footer>
        <center><p>&copy; Everyone can use it</p></center>
    </footer>
</body>
</html>
