<ul style="list-style: none;">
    {{#weatherforecast}}
    <li style="float: left;">
        <div class="card" style="width: 20rem; margin-left: 1rem;">
            <div class="card-body">
                <h6 class="card-title">{{date}}</h6>
                <p class="card-text">{{this.temperatureC}}</p>
                <p>
                    Temperature Fahrenheit: demlell
                </p>
            </div>
        </div>
    </li>
    <div style="display: block;">
      {{/weatherforecast}}
    </div>
</ul>